NODE_ENV=development

# Base de données
DB_HOST=db
DB_PORT=5432
DB_USER=user
DB_PASSWORD=password
DB_NAME=fascine_db

# JWT
JWT_SECRET=secret
JWT_REFRESH_SECRET=9f3b7e2c8a1d4f6b2c9e0a7d5f8b3c1e6a9d4f2b7c8e1a3f6b9c2d0e7f4a6b8
JWT_ACCESS_EXPIRES_IN=5m
JWT_REFRESH_EXPIRES_IN=7d

# Serveur
PORT=3000
